<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="content about">
      <h2>Sobre mí</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
        deserunt accusamus eius iste quas repellendus soluta tempora cupiditate
        ea maiores qui molestias explicabo quidem molestiae nostrum quam
        necessitatibus, assumenda dolore.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
        deserunt accusamus eius iste quas repellendus soluta tempora cupiditate
        ea maiores qui molestias explicabo quidem molestiae nostrum quam
        necessitatibus, assumenda dolore.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
